*{
    background-color: rgb(214, 85, 226);
    text-align: center;
}
h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
}
h2 {
    font-size: 40px;
    font-style: oblique;
}
h3 {
    font-size: 30px
}
p {
   font-size: 20px;
}
li {
    font-size: 30px;
}
.article {
    line-height: 1.4em;
    font-family: Trebuchet MS;
    color: rgb(59, 236, 198);
    border: 1px solid rgb(222, 86, 240);
    padding: 10px;
    background-color: rgb(23, 228, 217)
  }
  .photo {
      line-height: 0.7em;
      border: 1px dashed black ;
      padding-bottom: 5px;
      background-color: cyan;
  }
  a:hover{
      color: rgb(210, 231, 17);
  }
  .colour {
    line-height: 1.4em;
    font-family: Trebuchet MS;
    color: rgb(59, 236, 198);
    border: 1px solid rgb(222, 86, 240);
    padding: 10px;
    background-color: rgb(23, 228, 217);
}