*{
    background-color: antiquewhite;
}
h1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    align-self: center;
}
p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    align-content:center;
}
img {border-width: 10px;
    padding: 20px;
    align-self: center;
}
* {
    border: 13px;
    padding: 10px;
}
h3 {
    color: green;
    font-weight: bold;
}