*{
    background-color: antiquewhite;
}
f1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
img {border-radius: 10px;
    padding: 20px;
}
* {
    border: 10px;
    padding: 5px;
}