*{
    background-color: rgb(214, 85, 226);
    text-align: center;
}
h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
}
h2 {
    font-size: 40px;
    font-style: oblique;
}
h3 {
    font-size: 30px
}
p {
   font-size: 20px;
}
li {
    font-size: 30px;
}
ol {
    text-align: center;
}